# Service Account

apiVersion: v1
kind: ServiceAccount
metadata:
  name: qualys-service-account
{{- if .Values.qualys.namespace }}
  namespace: {{.Values.qualys.namespace}}
{{- else }}
  namespace: {{ .Release.Namespace }}
{{- end }}
